{% extends 'base/plantilla_base.html'%}

{% block title%} Sobre Nosotros {% endblock %}

{% block content %}
<center>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-2">
        <ul>
            <li>
                <h3>SOBRE NOSOTROS</h3>
                <p>Autos del Mar es una tienda de autos especializada en ofrecer una amplia gama de vehículos de alta calidad</p>
                <p>Ubicada en la costa, nuestra tienda combina pasión por los autos con un excelente servicio al cliente.</p>
                <p>Ofrecemos desde autos deportivos hasta vehículos familiares, todos cuidadosamente seleccionados para satisfacer </p>
                <p>las necesidades y preferencias de nuestros clientes. En Autos del Mar, nos enorgullecemos de proporcionar una </p>
                <p>experiencia de compra inigualable, ayudándote a encontrar el auto perfecto para cada aventura.</p>
            </li>
            <li>
                <h3>Información Adicional:</h3>
                <p>Dirección: Calle del Océano 123, Puerto Azul, CP 45678</p>
                <p>Teléfono: 600 345 2345</p>
                <p>Correo Electrónico: clientes@autosdelmar.cl</p>
            </li>
        </ul>
    </div>
</center>
{% endblock %}